<div class="wrapper">
  <nav class="vertical">
    <ul>
      <li>
        <label for="home">Home</label>
        <input type="radio" name="verticalMenu" id="home" />
        <div>
          <ul>
            <li ><a [routerLink]="['/login']">Login</a></li>
            <li><a [routerLink]="['/posts']">Posts</a></li>
            <li><a href="#">Corporate</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
      </li>
    </ul>
    <ul>
      <li>
        <label for="posts">Posts</label>
        <input type="radio" name="verticalMenu" id="posts" />
        <div>
          <ul>
            <li ><a href="#">Index</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Corporate</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
      </li>
    </ul>
    <ul>
      <li>
        <label for="users">Users</label>
        <input type="radio" name="verticalMenu" id="users" />
        <div>
          <ul>
            <li ><a href="#">Index</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Corporate</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>
</div>
